spring:
  datasource:
    url: jdbc:h2:file:./data/ledgerdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  h2:
    console:
      enabled: true

server:
  port: 8080

app:
  ledger:
    profile: mock # future: fabric
